.section-title {
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    font-family: $font-md;
    color: $color-second;
    @include responsive(md){
     font-weight: 500;           
    }
}

.section-description {
    font-family: $font-rg;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $color-grey;

    @include responsive(xs) {
        font-family: $font-md;
        font-size: 14px;
    }
}

.text-1 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.button-text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.section-suptitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: $color-primary;
    font-family: $font-md;
}

.card-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: $font-bl;
    color: $color-second;
    @include responsive(md){
     font-size: 18px;           
    }
    @include responsive(xs){
     font-size: 16px;           
    }
    @media (max-width:450px){
        font-size: 20px;
    }
    @include responsive(xxs){
     font-size: 18px;       
    }
}

