// * Color
$color-primary:#F16214;
$color-second: #000;
$color-grey: #888888;
$color-primary-opacity-15:#F1621426; 
$color-line-1: #DDDDDD;

// * Font 
$font-lg:"ProductSans-Light",sans-serif;
$font-md:"ProductSans-Medium",sans-serif;
$font-rg:"ProductSans-Regular",sans-serif;
$font-bl:"ProductSans-Bold",sans-serif;

// * Border Radius
$border-radius-120: 120px;
$border-radius-circle: 50%;
$border-radius-60-0: 60px 0;
$border-radius-50-0: 50px 0;
$border-radius-50: 50px;
$border-radius-13: 13px;
$border-radius-10: 10px;

// * Box Shadow
$box-shadow-1:0px 22px 52px rgba(0, 0, 0, 0.07);
$box-shadow-2: 0px 4px 20px rgba(0, 0, 0, 0.07);
$box-shadow-3: 5px 15px 45px rgba(0, 0, 0, 0.1);
$box-shadow-4: 20px 28px 90px -15px rgba(0, 0, 0, 0.2);

